<!DOCTYPE html>
<!-- Bootstrap --> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Bootstrap --> <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- jQuery --> <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<html>
	<head>
		{% block head %}{% endblock %}
		<title>{% block title %}title{% endblock %}</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12" style="margin-bottom: 100px; margin-right:100%"></div>
				<div class="col-md-2">
					<div class="nav flex-column nav-pills" aria-orientation="vertical">
						<a class="nav-link" id="tab1" href="/">index</a> <!-- index -->
						<a class="nav-link" id="tab2" href="/customertable">table</a> <!-- 전체 조회 -->
						<a class="nav-link" id="tab3" href="/datasave">save</a> <!-- 세이브 -->
						<a class="nav-link" id="tab4" href="/dataload">load</a> <!-- 로드 -->
					</div>
					{% block leftbody %}{% endblock %}
				</div>
				<div class="col-md-8">
					{% block body %}{% endblock %}
				</div>
				<div class="col-md-2">
					{% block rightbody %}{% endblock %}
				</div>
				<div class="col-xs-12" style="margin-bottom: 100px; margin-right:100%"></div>
			</div>
		</div>
	</body>
	{% block bottom %}{% endblock %}
</html>